.flex-container {
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding-top: 30px;
  }

.flex-containere{
display: flex;
flex-direction: row;
justify-content: center;
padding-bottom: 300px;
}

.flex-containerz{
display: flex;
flex-direction:row;
justify-content: center;
padding-bottom: 300px;
}



a:active{
    color:red;

}
a:link{
    color:yellow
}

a:hover{
    color:peru
}
.item p{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);

}
.item img{
position: absolute;
top: 30%;
left: 90%;
transform: translate(-50%,-50%);
}

.item h3{
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%,-50%);
}

.prop img{
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%,-50%);
    }
    
    .prop h3{
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
    }
     
.center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}